//Tech Office theme from adobe
@dark-gray: #595241;
@light-gray: #B8AE9C;
@white: #FFFFFF;
@blue: #ACCFCC;
@red: #8A0917;
html {
    height: 100%;
    width: 100%;
    body {
        margin: 0;
        header {
            background-color: @white;
            position: absolute;
            top: 0px;
            height: 70px;
            left: 0px;
            right: 0px;
            width: 100%;
            h1 {
                position: absolute;
                top: 50%;
                margin-top: -25px;
                left: 25px;
            }
        }
        main {
            position: absolute;
            top: 70px;
            bottom: 35px;
            left: 0px;
            right: 0px;
            width: 100%;
        }
        footer {
            position: absolute;
            bottom: 0px;
            background-color: black;
            color: white;
            width: 100%;
            text-align: center;
            font-weight: 300;
            padding-top: 10px;
            padding-bottom: 15px;
            #heart-icon {
                background-image: url(/static/img/ic_favorite_outline_24px.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                padding: 0px 4px;
                width: 18px;
                height: 20px;
                display: inline-block;
                position: relative;
                opacity: 0.9;
                top: 4px;
                @media (max-width: 320px) {
                    padding: 0px 14px;
                    width: 16px;
                    height: 18px;
                }
            }
            #tusec-icon {
                background-image: url(/static/img/icon-tusec.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                padding: 0px 4px;
                width: 18px;
                height: 20px;
                display: inline-block;
                position: relative;
                opacity: 0.9;
                top: 4px;
                @media (max-width: 320px) {
                    padding: 0px 14px;
                    width: 16px;
                    height: 18px;
                }
            }
        }
    }
}
